@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 30 20% 96%;
    --foreground: 30 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 30 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 10%;
    --primary: 30 10% 12%;
    --primary-foreground: 30 20% 96%;
    --secondary: 30 10% 92%;
    --secondary-foreground: 30 10% 12%;
    --muted: 30 10% 92%;
    --muted-foreground: 30 5% 46%;
    --accent: 30 10% 92%;
    --accent-foreground: 30 10% 12%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 88%;
    --input: 30 10% 88%;
    --ring: 30 10% 12%;
    --chart-1: 12 76% 52%;
    --chart-2: 160 50% 40%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
